:root {
  --text-color: #faf2e9;
  --background-color: #32402f;
  --title-text: "Barlow Semi Condensed", sans-serif;
  --paragraph-text: "Red Hat Display", sans-serif;
}

html {
  background-color: var(--background-color);
}


h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--title-text);
}


h2,
h3,
h4 {
  
  padding: 10px;
  margin-left: 10px;
  font-family: var(--paragraph-text) ;
}

p {
  font-family: var(--paragraph-text);
}

a {
  font-family: var(--title-text);
}

body {
  background-color: var(--background-color);
}


#who {
  position: relative;
  left: 270px;
}

.title {
  font-size: 40px;
}

.columns,.is-two-thirds {
  height: 700px;
  width: 100%;
}

.introduction {
  color: var(--text-color);
}

.description {
  color: var(--text-color);
  background-color: var(--background-color);
  height: 102%;
  text-align: center;
  padding: 200px 0;
  position: relative;
  right: 1.9%;
}

.description a {
  width: 20px;
}


.field{
  width: 500px;
}

/* RANDOM PIECES */
.buddy {
  position: relative;
  left: 110px;
}

.combine {
  text-align: center;
}
 #gym-pal {
  font-size: 70px;
  color: var(--text-color);
 }

/* IMAGES */
#gym-guy {
  float: left;
  height: 500px;
  width: 500px;
  padding: 20px;
  margin: 20px;
}

#food-platter {
  float: right;
  height: 300px;
  width: 700px;
  padding: 20px;
  margin: 20px;
  display: flex;
}

.barbell-logo {
  height:60px ;
  width: 60px;
  position: relative;
  top: 4px;
}